POSITION	1	40
POSITION	2	30
POSITION	3	30
RESOLUTION	1	20
RESOLUTION	2	20
RESOLUTION	3	30
RESOLUTION	4	30
PACKAGE	1	50
PACKAGE	2	40
PACKAGE	3	10
PROVINCE	-1	100
CITY	-1	100
VERSION	-1	100
CARRIER	-1	100
OS	-1	100
HOUR	-1	100
NETWORK	-1	100
APP	-1	100